@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  color: #FF4A17;
  text-decoration: none; }
  a:hover {
    color: #616161;
    text-decoration: underline; }

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer; }

figure {
  margin: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

img {
  max-width: 100%; }

cite {
  font-style: normal; }

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0; }

body {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  color: #616161; }

.card {
  display: block;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.75rem; }
