/// This file contains all variables needed for this site


/// Main color
/// @type Color
$primary-color: #FF4A17;

/// Secondary color
/// @type Color
$secondary-color: #14212B;

/// Text color
/// @type Color
$text-color: #616161;

// Light gray
/// @type Color
$light-gray: #f2f2f2;



/// Container max width
/// @type Length
$max-width: 1440px !default;

/// Breakpoints
$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'large': 1024px,
)!default;

/// Typography
$font-base-size: 1rem;
$font-family: 'Nunito Sans', sans-serif;
$font-size-sm: $font-base-size * 0.75;
$font-size-lg: $font-base-size * 1.5;
$font-size-xl: $font-base-size * 2;
$font-size-xxl: $font-base-size * 3;

/// Box shadow
$base-box-shadow: 0 0 35px 0 rgba(0,0,0,.10);

/// Borders
$base-border-radius: 10px;

/// Padding and margins
$base-padding:0.75rem;
$base-margin:0.75rem;


